@import "tailwindcss";
@import "lxgw-wenkai-webfont/lxgwwenkai-regular.css";
@import "lxgw-wenkai-webfont/lxgwwenkai-bold.css";

@theme inline {
  --font-wenkai: "LXGW WenKai", serif;
  --font-sans: "Inter", system-ui, sans-serif;
  --color-background: #fafaf9;
  --color-foreground: #1c1917;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
